* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(65,184,131,1) 0%, rgba(0,212,255,1) 100%); 
}

.container {
  border: 2px solid #fff;
  padding:30px 40px;
  width: 35%;
}

.new-tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  display: flex;
}
